.valor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacio {
    margin: 1rem;
}

.numero {
    margin-top: 1rem;
}

.titulo {
    color: #ffe56c;
}

.subTitulo {
    color: #ffedcc;
}

.pass {
    color: #ff2600;
}
